body{
    margin:0px;
    padding:0px;
}
nav{
    position:fixed;
    top:0px;
    width:100%;
    background-color:white;
    z-index:1;
    box-shadow:1px 1px 10px gainsboro ;

}
.upperpart{
    height:150px;
    width:300px;
    background-color:#FFFFFF;
    border-radius:3px solid black;
    display:flex;
    flex-direction:row;
    align-items:center;
    
}
.time{
    padding-left:30px;
    display:flex;
    justify-content:flex-start;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
}
.zone{
    padding:9px;
    color:#FF1B29;
    font-size:25px;
    font-family:'Courier New', Courier, monospace;
}
.uppermiddle{
    display: flex;
    align-items: baseline;
    height: fit-content;
    padding-left:30px;
    justify-content: center;
}
.uppermiddle a{
    color:black;
justify-content: center;


width:100px;
text-decoration: none;

}
.upperpart a{
    /* display:flex; */
    /* justify-content: center; */
}
.upperright{
display:flex;
padding-left:210px;
gap:22px;
justify-content:flex-end;
}
.search{
    height:40px;
    width:30px;
    background-image:url(../resources/search.png) ;
    background-size:contain;
    background-repeat:no-repeat ;
}
.log{
    height:40px;
    width:30px;
    background-image:url(../resources/log.jpg);
    background-size:contain;
    background-repeat:no-repeat ;
}
.basket{
    height:40px;
    width:30px;
    background-image: url(../resources/shop.jpg);
    background-size:contain;
    background-repeat:no-repeat ;
}
.lowerpart{
    height:800px;
    
    margin-top: 170px;
    background-color:#FF1B29;

display: flex;
flex-direction: row;

justify-content: center;

}
.text{
height:800px;
width:60%;
display:flex;
align-items: left;
padding:0px 8px;
justify-content: center;
flex-direction: column;
background-color: rgb(194, 188, 188);
}

.one{
    height:200px;
    width:700px;
    font-family:serif;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:45px;
}
.two{

    height:100px;
    width:700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;

}
.three{
    display:flex;
    justify-content: center;
    align-items: center;
height:40px;
width:120px;
letter-spacing: 4px;
background-color:gray;

/* align-items: flex-start; */
}
.watch{
height:800px;
width:40%;
background-color:white;
background-image: url(../resources/mp.jpg);
background-repeat: no-repeat;
background-size:100% 100%;

}
.bottom{
    height:800px;
    width:100%;
    background-color:white;
    margin-top:80px;
}
.bottomup{
    height:20%;
    width:15%;
}
.arrival{
    background-color:white;
    height:100%;
    width:70%;
    padding-left:30px;
    padding-bottom:40px;
    align-items: center;
    font-weight: 200;
    font-size:50px;

}
.bottomdown{
    height:fit-content;
    width:fit-content;
    /* display:grid; */
    /* grid-template-columns: 30% 30% 30%; */
    background-color:white;
    /* padding:0px 150px; */
    display:flex;
    gap:40px;
    margin: 0px auto;
}
.images{
    height:800px;
    background-color: red;
    display:flex;
    padding:0px 30px;
    
}
.pic{
    justify-content: row;
    height:300px;
    width:300px;
    background-image: url(../resources/kk.webp);
background-repeat: no-repeat;
background-size: cover;
}
.picc{
    justify-content: row;
    height:300px;
    width:300px;
background-image:url(../resources/ll.webp);
    background-repeat: no-repeat;
background-size: cover;
}
.piccc{
    justify-content: row;
    background-color: springgreen;
    height:300px;
    width:300px;
background-image:url(../resources/tadeusz-lakota-Tb38UzCvKCY-unsplash.jpg) ;
    background-repeat: no-repeat;
background-size: cover;
}
.page{
    height:800px;
    width:100%;
background-color:white;
display:flex;
justify-content:row ;
padding:50px;
gap:35px;
}
.a{
    height:800px;
    width:40%;
    background-color:white;
    background-image:url(../resources/firstimage.png);
background-size: contain;
background-repeat: no-repeat;

}
.b{
    height:800px;
    width:35%;
    background-color:white;   
    background-image:url(../resources/pngwing.com.png) ;
background-size: contain;
background-repeat: no-repeat;
}
.c{
    /* height:800px; */
    width:500px;
    background-color:white;
    justify-content:cover;
    display:flex;
    flex-direction: column;
gap:35px;
    
}
.d{
height:400px;
width:100%;
background-color:white;
background-image:url(../resources/pngwing.com\(4\).png) ;
background-repeat: no-repeat;
background-size: contain;
}
.e{
    height:400px;
    width:100%;
    background-color:white;
    background-image:url(../resources/pngwing.com\(2\).png) ;
    background-repeat: no-repeat;
    background-size: contain;
}